<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand ml-4" routerLink="/">Pharma<span class="text-danger font-weight-bold">Q</span></a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>