<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        First
        <span class="badge-info">55</span>
      </div>
      <div class="list-group-item">
        First
        <span class="badge-info">55</span>
      </div>
      <div class="list-group-item">
        First
        <span class="badge-info">55</span>
      </div>
      <div class="list-group-item">
        First
        <span class="badge-info">55</span>
      </div>
      <div class="list-group-item">
        First
        <span class="badge-info">55</span>
      </div>

    </div>
  </div>
  <div class="col-md-6">
    Chatik!
  </div>
</div>