<div *ngIf="messageService.messages.length">
    <div *ngFor="let message of messageService.messages" class="alert {{message.type}}">
        {{ message.message }}
        <button type="button" class="close" aria-label="Close">
            <span (click)="messageService.delete(message)">&times;</span>
        </button>
    </div>
</div>
