<table class="table table-hover">
    <thead>
    <th>ИД</th>
    <th>Наименование продукта</th>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td><a routerLink="/products/{{ product.id }}">{{ product.name }}</a></td>
    </tr>
    </tbody>
</table>