<ng-progress [spinnerPosition]="'left'" [color]="'red'"></ng-progress>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 bg-light">
            <app-sidebar></app-sidebar>
        </nav>
        <main role="main" class="col-md-10 pt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <app-messages></app-messages>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>



