<div class="row justify-content-md-center">
    <div class="col-md-12">
        <h4 class="mb-3">Новый продукт: <span class="text-primary">{{ product.name }}</span></h4>
        <form #productForm="ngForm">

            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="img_src">Изображение</label>
                        <div class="border-info image-picker" id="img_src"></div>
                    </div>
                    <div class="mb-3">
                        <label for="imp_src">Инструкция по МП</label>
                        <div class="border-info image-picker" id="imp_src"></div>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="name">Наименование</label>
                                <input type="text" class="form-control" [class.is-invalid]="hasErrors('name')"
                                       name="name"
                                       id="name" [(ngModel)]="product.name"
                                       required>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('name') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="product_type_id">Лекарственная форма</label>
                                <app-dictionary id="product_type_id"
                                                [class.is-invalid]="hasErrors('product_type_id')"
                                                [(ngModel)]="product.product_type_id"
                                                [hasError]="hasErrors('product_type_id')"
                                                [usedDictionary]="'productTypes'"
                                                name="product_type_id"></app-dictionary>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('product_type_id') }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="output_form">Форма выпуска</label>
                                <textarea rows="4"
                                          name="output_form" [(ngModel)]="product.output_form"
                                          [class.is-invalid]="hasErrors('output_form')" class="form-control mb-3"
                                          id="output_form"></textarea>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('output_forms') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="custom-control custom-radio mb-2">
                                <input type="radio" id="mnn_used" name="mnn_used"
                                       class="custom-control-input" [(ngModel)]="product.mnn_used" [value]="true">
                                <label class="custom-control-label" for="mnn_used">Международное непатентованное
                                    наименование</label>
                            </div>
                            <div class="mb-3 pl-5">
                                <app-dictionary id="mnn_id"
                                                [class.is-invalid]="hasErrors('mnn_id')"
                                                [(ngModel)]="product.mnn_id"
                                                [hasError]="hasErrors('mnn_id')"
                                                [usedDictionary]="'nmm'"
                                                [isEnabled]="product.mnn_used"
                                                name="mnn_id"></app-dictionary>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('mnn_id') }}
                                </div>
                            </div>
                            <div class="custom-control custom-radio mb-2">
                                <input type="radio" id="formula_used" name="formula_used"
                                       class="custom-control-input" [(ngModel)]="product.mnn_used" [value]="false">
                                <label class="custom-control-label" for="formula_used">Формула</label>
                            </div>
                            <div class="mb-3 pl-5">
                                <input type="text" class="form-control" [class.is-invalid]="hasErrors('formula')"
                                       name="formula"
                                       id="formula" [(ngModel)]="product.formula"
                                       [disabled]="product.mnn_used">
                                <div class="invalid-feedback">
                                    {{ getErrorFor('formula') }}
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="primary_package_id">Первичная упаковка</label>
                                <app-dictionary id="primary_package_id"
                                                [class.is-invalid]="hasErrors('primary_package_id')"
                                                [(ngModel)]="product.primary_package_id"
                                                [hasError]="hasErrors('primary_package_id')"
                                                [usedDictionary]="'primaryPackages'"
                                                [needToScroll]="false"
                                                name="primary_package_id"></app-dictionary>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('primary_package_id') }}
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="secondary_package_id">Вторичная упаковка</label>
                                <app-dictionary id="secondary_package_id"
                                                [class.is-invalid]="hasErrors('secondary_package_id')"
                                                [(ngModel)]="product.secondary_package_id"
                                                [hasError]="hasErrors('secondary_package_id')"
                                                [usedDictionary]="'secondaryPackages'"
                                                name="secondary_package_id"></app-dictionary>
                                <div class="invalid-feedback">
                                    {{ getErrorFor('secondary_package_id') }}
                                </div>
                            </div>

                            <button class="btn btn-success float-md-right mb-5 ml-4" type="submit" (click)="onSubmit()">
                                Сохранить
                            </button>
                            <button class="btn btn-danger float-md-right mb-5" (click)="onCancel()">Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>