<ul class="nav flex-column">
    <li class="nav-link"><a routerLink="/products">Products</a> [<a routerLink="/products/create">+</a>]</li>
    <li class="nav-link"><a routerLink="/products">Batches</a></li>
    <li class="nav-link"><a routerLink="/products">Changes</a></li>
</ul>