/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select .ng-control {
  display: block;
  width: 100%;
  //padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ng-select.ng-single .ng-control{
  height: calc(2.25rem + 2px);
}

.ng-select.is-invalid .ng-control {
  border-color: #dc3545;
}

app-dictionary.is-invalid ~ .invalid-feedback {
  display: block;
}

.image-picker{
  border-width: 1px;
  border-style: dashed;
  position: relative;
  width: 100%;
}

.image-picker::before {
  content: "";
  display: block;
  padding-top: 100%;
}